body {
    margin: 15%;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 1em;
    margin-bottom: 0;
}

p {
    font-size: 1em;
    margin-top: 0;
}

img {
    width: 10%;
    height: auto;
    top: 3050px;
    left: 50px;
    display: none;
    position: absolute;
    transform: rotate(-45deg);
}

.buttonContainer {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: auto;
    margin-top: 50px;
}